#title{
    display: flex;
    justify-content: center;
}
#body{
    display: flex;
    justify-content: center;
}
.t1{
    width: 0;
    height: 0;
    border-left: 400px solid transparent;
    border-right: 400px solid transparent;
    border-bottom: 400px solid greenyellow;
    position: absolute;
}
.t2{
    width: 0;
    width: 0;
    border-left: 300px solid transparent;
    border-right: 300px solid transparent;
    border-bottom: 300px solid red;
    position: relative;
    top: 60px;
    left: 300px;
}
.c3{
    width: 0;
    width: 0;
    border-left: 200px solid transparent;
    border-right: 200px solid transparent;
    border-bottom: 200px solid black;
    position: relative;
    top: 15px;
    right: 200px;
}
.c4{
    width: 0;
    width: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 100px solid blue;
    position: relative;
    bottom: 20px;
    right: 500px;
}